@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


html {
    overflow-y: auto !important;
    /* only show scrollbar if needed */
}

body {
    font-family: "Vazirmatn", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vazirmatn", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 900;
    font-style: normal;
}

html {
    overflow-y: auto !important;
    /* only show scrollbar if needed */
}

body {
    font-family: "Vazirmatn", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Vazirmatn", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 900;
    font-style: normal;
}